.modal.modal-sheet {
  background-color: rgba(154, 152, 152, 0.5);
}

.accordion-button::after {
  background-image: none
}

.accordion-button:not(.collapsed)::after {
  background-image: none;

}

.block-accordion {
  position: relative;
}

.block-accordion:hover .arrow-accordion,
.block-accordion .collapse.show ~.arrow-accordion {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}

.arrow-accordion {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 4;
}

