.logo {
  width: 80px;
  height: 60px;
}

.nav-link.main {
  margin-left: 220px;
}

.nav-link.active {
  color: #858785;
  pointer-events: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media(hover: hover) {
  .navbar-toggler:hover {
    box-shadow: 0px 0px 3px black;
    transition: all 0.3s linear;
  }
}

@media(max-width: 767.5px) {
  .nav-link.main {
    margin-left: 0px;
  }
}
