<div class="row justify-content-around mb-4 wrap p-3">
  <div class="col-12 mt-4 w-100">
    <div class="card p-0 wow animate__bounceInDown d-flex flex-column align-items-center justify-content-center">
      <div class="card-body pt-3">
        <img src="{{product?.image}}" class="card-img me-3 mb-2" alt="tea1">
        <h5 class="card-title fw-bold">{{product?.title}}</h5>
        <p class="price">ЦЕНА: {{product?.price}} руб.</p>
        <p class="card-text">{{product?.description}}</p>
      </div>
      <button type="button" class="btn btn-primary hvr-grow" [routerLink]="'/order'" [queryParams]="{title: product?.title}">Купить</button>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loader-wrap">
  <div class="loader-top"></div>
  <div class="loader-bottom"></div>
  <div class="loader-center"></div>
</div>
